body, html {
	background-image: url(http://opengameart.org/sites/default/files/seamless%20space_0.PNG);
  background-color: black;
  animation: space-animation 60s linear infinite;
}

h1 {
    font-size: 50px;
    color: #fff;
    text-align: center;
}

p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    position:relative;
    top: 180px;
}

.globe {
	width: 92px;
	height: 92px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -41px;
  margin-top: -41px;
	background: url('https://svs.gsfc.nasa.gov/vis/a000000/a002900/a002915/bluemarble-2048.png') repeat;
  background-size: 184px 92px;
  box-shadow: inset 20px 2px 50px rgba(0,0,0,1), 0 0 100px rgba(79,193,233,0.4);
	border-radius: 100%;
	animation: animate 6s linear infinite;
	transform: rotate(-15deg);
}

@keyframes animate {
	from {
		background-position: 184px 0;
	}
}
@keyframes space-animation {
  from {
      background-position: -100%;
  }
}