@charset "UTF-8";


.square {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  position: relative;
  display: inline-block;
}

.hover-arrow {
  opacity: 0;
  z-index: 110;
  position: absolute;
  left: 90px;
  top: 90px;
  width: 20px;
  height: 20px;
  background-color: red;
}

.hover-image {
  width: 200px;
  height: 0px;
  margin-top: 100px;
  z-index: 100;
  position: absolute;
  opacity: 0;
}

.hover-text {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 10px;
  margin-top: 500px;
  font-family: 'Arial Black';
  background: #333;
  color: #fff;
  opacity: 0;
}

.hover-text-p {
    margin-top: 30px;
}


/* Production Process*/


#slider {
  position: relative;
  margin: 20px auto 0 auto;  
  border-radius: 4px;
  overflow: hidden;
  color: rgb(240, 240, 240);
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 700px;
  height: 500px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 700px;
  height: 500px;
  background: #ccc;
  text-align: center;
}

a.control_prev, a.control_next {
  position:absolute;
  top: 1000px;
  z-index: 9999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}



a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  left: 0;
  border-radius: 2px;
}

a.control_next {
  right: 0;
  border-radius: 2px;
}
