@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800);

* {
margin:0;
padding:0;
}

body {
font-family:'Open Sans';
margin: 24px auto 0px auto;
width: 800px;
position:relative;
}

p {
line-height:1.25em;
margin-bottom: 1em;
text-indent: 40px;
}

h1 {
color: #2B2B2B;
font-weight: 500;
}

h3 {
font-size:1em;    
}

h4 {
font-weight: 100;
}


nav ul {
background-color: #009090;
float: left;
width: 832px;
padding: 0;
margin: 0;
}
nav ul li {
display: inline;
}

nav ul li a {
padding: 0.2em 1em;
text-decoration: none;
float: left;
border-right: 1px solid #fff;
color: #fff;
}

nav ul li a:hover {
background-color: #369;
}


#main {
float: left;
width: 100%;
background-color:#558C89;
padding-left:2em;
}

#picture {
width: 40%;
float:left;
margin:10px;
}

img {
position: relative;
left: -40px;
}

#article {
width: 40%;
float:right;
margin:10px;
}

